.tiret{
	margin-bottom:20px
}

.sdl{
	margin-bottom:50px;
}

.margedroite{
	margin-right:30px;
}

.retourligne{
	margin-bottom:1px;
}

#PARTIE10{

}

#PARTIE11{

}


#PARTIE12{

}


#PARTIE13{

}


#PARTIE14{

}


#PARTIE15{

}


#PARTIE16{

}


#PARTIE17{

}

.sommairestyle{
	border:solid;
}
.sommairetabulation{
	margin-left:100px
}



#.pred{
#	color: red;
#}

